@media (min-width: 300px) and (max-width: 900px) {
	body {
		background-color: #505160;
	}

	#bigImageContainer {
		width: fit-content;
	}

	.big-images {
		height: 100vh;
		width: auto;
	}
}

body {
	margin: 0px;
}

.img-class {
	height: 6vw;
	width: auto;
}

main {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
}

.image-set-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 4px;
}

.navImage-container {
	background-color: #282936;
	box-sizing: border-box;
	padding: 8px;
	width: fit-content;
	position: absolute;
	bottom: 20px;
}

.buttons-navigation-container {
	width: 100vw;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	top: 40%;
}

button {
	background-color: #282936;
	color: #f1f1f1;
	border: none;
	border-radius: 50%;
	padding-top: 1.2%;
	padding-bottom: 1%;
	padding-right: 1.5%;
	padding-left: 1.5%;
}

.big-images {
	height: auto;
	width: 100vw;
}
